/* 
  *Google Fonts are necessary
*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins",sans-serif;
}
:root{
  --color-violet: #6f2dbd;
  --color-light-violet: #a663cc;
  --color-more-light-violet: #b298dc;
  --color-white: #f0fff1;
  --color-black: #02010a;
}

html{
  background-color: var(--color-violet);
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
}
header{
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: var(--color-white);
  height: 10vh;
}
main{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
button{
  background-color: var(--color-violet);
  padding:0.5rem;
  height: 150px;
  width: 150px;
  font-size: 3.5rem;
  border:none;
  color: var(--color-white);
  font-weight: 400;
}
@media screen and (max-width:420px) {
  button{
    height: 100px;
    width: 100px;
  }
}

.table{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  justify-self: center;
}
table{
  border-collapse: collapse;
}
tr,td{
  border: 2px solid var(--color-more-light-violet);
}

footer{
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  font-size: 1rem;
  font-weight: 600;
  margin-top: auto;
  justify-self: flex-end;
  height: 8vh;
}

/*
  *result container styling 
*/
.result-container{
  background-color: var(--color-light-violet);
  padding: 1rem;
  font-size: 1.5rem;
  width: 100%;
  height: 10%;
  border-radius: 10px;
  color: var(--color-white);
  text-align: center;
}

/* Restart Button style */
.btn{
  display: block;
  background-color: var(--color-light-violet);
  font-size: 1rem;
  padding: 1rem 1.5rem;
  height: auto;
  width: auto;
  border-radius: 10px;
  display: none;
}
/* github logo */
.uil-github{
  font-size: 2rem;
}